{# src/MBH/Sitederencontre/Ressources/views/Advert/index.html.twig #}

 {% extends 'MBHSitederencontreBundle::layout.html.twig' %}

 {% block title %}
 	Accueil - {{ parent() }}
 {% endblock %}

 {% block menuRight %}
   <a class="nav-item text-white nav-link" href="{{ path('mbh_sitederencontre_login_form') }}">Se connecter</a>
 {% endblock %}

 {% block body %}

   <div class="container">
   	<div class="inscription">
     <h2>Faites de nouvelles rencontres</h2>
     <div class="form">
       {{ include("MBHSitederencontreBundle:Advert:form.html.twig") }}
     </div>
 	</div>
   </div>

 {% endblock %}
