{# src/MBH/Sitederencontre/Ressources/views/Advert/index.html.twig #}

 {% extends 'MBHSitederencontreBundle::layout.html.twig' %}

 {% block title %}
 	Accueil - {{ parent() }} 	
 {% endblock %}

 {% block menu %}

 	ici placera le menu de la page d'inscription
 {% endblock %}

 {% block body %}
 	<h2>Faites de nouvelles rencontres</h2>
 	{{ include("MBHSitederencontreBundle:Advert:form.html.twig")}}
 	
 {% endblock %}