{# src/MBH/SitederencontreBundle/Resources/views/Advert/menu.html.twig #}

<div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Amouroo</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Mon profil</a></li>
        <li><a href="#">Profils</a>
        <li><a href="#">Match</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>