/*Inscription*/
.inscription h2
{
	background-color: #bfbfbf;
	text-align: center;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form
{
	background-color: #6bb9f0;
}

/*Connection*/
.connect
{
	background-color: #bfbfbf;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Mon profil*/
.profil-photo
{
	background-color: #bfbfbf;
	text-align: center;
}

.profil
{
	margin-top: 50px;
}

.profil a
{
	margin-top: 50px;
}

.job
{
	font-style: bold;
}

.profil-photo .btn
{
	padding-left: 20px;
	padding-right: 20px;
}

/*.chats
{
	display: flex;
	flex-direction: column;
}*/

/*Modification profil*/
.bouton
{
	margin-top: 20px;
}

.bouton-modifie
{
	display: flex;
	flex-direction: column;
}
.bouton-modifie img
{
	margin-bottom: 20px;
}

#profil_completed
{
	margin-top: 50px;
	background-color: #f1e7fe; 
}

/*Les profils*/
.pseudo-message
{
	background-color: rgba(24,24,24,0.8);
	width: 250px;
	height: 40px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.pseudo-message button
{
	float: right;
	box-sizing: border-box;
	height: 40px;
}

.pseudo-message a
{
	color: white;
	font-size: 1.5em;
	padding-left: 5px;
}
